<h1 class="bookingtitle"> <%= @cabin.name %> </h1>
<h6 class="bookingdescription"> <%= @cabin.description %> </h6>

<% if @cabin.image.attached?%>
<%= image_tag(@cabin.image, class: "bookingimage") %>
<% end %>

<%= render 'form', booking: @booking %>
