<% cabin = Cabin.find_by(id: params['cabin_id'])%>

<h1 class="bookingtitle"> <%= cabin.name %> </h1>
<h6 class="bookingtitle"> <%= cabin.description %> </h6>

<%= image_tag(cabin.image, class: "bookingimage") %>

<%= render 'form', booking: @booking %>


