// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact-form {
    margin: 0 5%;
}

.contactsubmit {
    padding: 0 1em;
    float: left;
}

.thanks {
    text-align: center;
}

.instruction {
    text-align: center;
    color: gray
}